### DECORATION ###

fastfetch

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

### EXPORT ###

export EDITOR="nvim"

### PATH LOCATIONS ###

COMPLETIONS="usr/share/zsh/site-functions"
POWERLEVEL10K="/usr/share/zsh-theme-powerlevel10k/powerlevel10k.zsh-theme"

AUTOSUGGESTIONS="usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh"
FAST_SYNTAX_HIGHLIGHTING="/usr/share/zsh/plugins/fast-syntax-highlighting/fast-syntax-highlighting.plugin.zsh"
FZF_TAB="$HOME/git/fzf-tab/fzf-tab.plugin.zsh"

### ALIASES ###

alias ls='eza --group-directories-first --icons=always'

alias n='nvim'
alias v='nvim'
alias vi='nvim'
alias vim='nvim'

### PATH ###

### COMPLETIONS ###

# Set completions directory
[[ -d $COMPLETIONS  ]] && fpath=($COMPLETIONS $fpath)

# Load completions
autoload -U compinit; compinit

source <(fzf --zsh)
[[ -f $FZF_TAB ]] && source $FZF_TAB

# Case insensitive matching (lowercase to anycase)
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'
# Disable sort when completing git checkout
zstyle ':completion:*:git-checkout:*' sort false
# Set list-colors to enable filename colorizing
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
# Disable completion menu for fzf-tab
zstyle ':completion:*' menu no
# Preview directory content with eza
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'eza -1 --color=always $realpath'
zstyle ':fzf-tab:complete:__zoxide_z:*' fzf-preview 'eza -1 --color=always $realpath'
# Custom fzf flags
zstyle ':fzf-tab:*' fzf-flags --color=fg:1,fg+:2 --bind=tab:accept
# Make fzf-tab follow FZF_DEFAULT_OPTS
zstyle ':fzf-tab:*' use-fzf-default-opts yes

# Use fd for listing path candidates
_fzf_compgen_path() {
  fd --hidden --follow --exclude ".git" . "$1"
}

# Use fd to generate list for directory completion
_fzf_compgen_dir() {
  fd --type d --hidden --follow --exclude ".git" . "$1"
}

### SOURCE ###

[[ -f $AUTOSUGGESTIONS ]] && source $AUTOSUGGESTIONS
[[ -f $FAST_SYNTAX_HIGHLIGHTING ]] && source $FAST_SYNTAX_HIGHLIGHTING

### PROMPT ###

# Source Powerlevel10k
[[ -f $POWERLEVEL10K ]] && source $POWERLEVEL10K

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

### OTHER ###

HYPHEN_INSENSITIVE="true"
HISTSIZE=10000
HISTFILE="${HOME}/.zsh_history"
SAVEHIST=$HISTSIZE
HISTDUP=erase

# let hidden files be matched without specifying .
setopt GLOB_DOTS
# history
setopt APPEND_HISTORY
setopt SHARE_HISTORY
setopt HIST_IGNORE_SPACE
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_SAVE_NO_DUPS
setopt HIST_IGNORE_DUPS
setopt HIST_FIND_NO_DUPS

### SHELL INTEGRATIONS ###

eval "$(zoxide init zsh)"

