README.md
archpkglist.txt
archforeignpkglist.txt
.config/nvim/AGENTS.md
.config/tmux/AGENTS.md
{{ if eq .profile "work" -}}
.config/nvim/lua/config/personal.lua
{{ else -}}
.config/nvim/lua/config/work.lua
{{ end -}}
