/*
 * Author: Jason Mustafa (https://www.jasonmustafa.com/)
 * Modified from: Catppuccin for Waybar (https://github.com/catppuccin/waybar)
 */

@import "mocha.css";

* {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 17px;
  font-weight: bold;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

tooltip {
  border-radius: 1rem;
  background: @surface0;
}

tooltip label {
  color: @text;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0t;
}

#workspaces button {
  color: @mauve;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-os,
#window,
#custom-music,
#custom-weather,
#pulseaudio,
#network,
#time,
#tray,
#session {
  background-color: @surface0t;
  padding: 0.5rem 1rem;
  margin: 5px 0.5rem;
  border-radius: 1rem;
}

#custom-os {
  color: @mauve;
  margin-left: 1rem; /* left of bar */
}

#window {
  color: @text;
}

#custom-music {
  color: @lavender;
}

#custom-weather {
  color: @yellow;
}

#pulseaudio {
  color: @pink;
}

#network {
  color: @peach;
}

#clock {
  color: @blue;
  margin-right: 0.5rem; /* left of group */
}

#custom-clock {
  color: @lavender;
  margin-left: 0.5rem; /* right of group */
}

#custom-lock {
  color: @lavender;
  margin-right: 0.5rem; /* left of group */
}

#custom-power {
  color: @red;
  margin-left: 0.5rem; /* right of group */
}

#session {
  margin-right: 1rem; /* right of bar */
}

